<div class="w3-panel w3-leftbar process-item">
    <button 
        v-on:click="dataChildrenVisible = !dataChildrenVisible"
        class="w3-btn w3-black"
        v-bind:style="{visibility: propProcess.children.length > 0 ? 'visible' : 'hidden'}"
    >
        <i v-if="dataChildrenVisible" class="fas fa-minus-circle"></i>
        <i v-else class="fas fa-plus-circle"></i>
    </button>

    <img :src="dataImgSrc" height="31" width="31" class="angry-tasks-icon"/>

    <span :title="compExecutablePath">
        {{propProcess.name}}
    </span>
    <span style="background-color: black; color: yellow">
            {{ propProcess.memoryText }}
    </span>
    <template v-if="propProcess.children.length > 0">
        |
        <span style="background-color: black">
            {{ propProcess.totalMemoryText }}
        </span>
    </template>
    <div v-if="dataChildrenVisible">
        <task-list-item v-for="childProcess in propProcess.children" :prop-process="childProcess"/>
    </div>
</div>
