<div class="w3-panel w3-leftbar process-item">
    <button v-if="propProcess.children.length > 0" v-on:click="dataChildrenVisible = !dataChildrenVisible" class="w3-btn w3-black">
        <i v-if="dataChildrenVisible" class="fas fa-minus-circle"></i>
        <i v-else class="fas fa-plus-circle"></i>
    </button>
    {{propProcess.name}}
    <span style="background-color: black; color: yellow">
            {{ propProcess.memoryText }}
    </span>
    <template v-if="propProcess.children.length > 0">
        |
        <span style="background-color: black">
            {{ propProcess.totalMemoryText }}
        </span>
    </template>
    <div v-if="dataChildrenVisible">
        <task-list-item v-for="childProcess in propProcess.children" :prop-process="childProcess"/>
    </div>
</div>
