<div class="w3-panel w3-leftbar process-item">
    <!--{{propProcess.processId}}-->
    {{propProcess.name}}
    <span style="background-color: black; color: yellow">
            {{ propProcess.memoryText }}
    </span>
    <template v-if="propProcess.children.length > 0">
        |
        <span style="background-color: black">
            {{ propProcess.totalMemoryText }}
        </span>
        <button class="w3-btn w3-black"></button>
    </template>
    <div :v-if="dataChildrenVisible">
        <task-list-item v-for="childProcess in propProcess.children" :prop-process="childProcess"/>
    </div>
</div>
